### General ###
*.log
*.local
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

### Node.js ###
# Dependencias
node_modules/
.pnpm-debug.log

# Entornos de desarrollo
.env
.env.local
.env.development
.env.test

# Build
dist/
dist-ssr/
*.tsbuildinfo

# Vite cache
.cache/

# Binarios
#bin/
obj/

# Configuración de usuario
*.userprefs

# Archivos de IDE
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Sistema operativo ###
# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# macOS
._*
.Spotlight-V100
.Trashes