:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 8px;

  /* Paleta de colores */
  --rich-black: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --yinmn-blue: #415a77ff;
  --silver-lake-blue: #778da9ff;
  --platinum: #e0e1ddff;

  --color-header-footer: var(--rich-black);
  --color-background-secondary: var(--yinmn-blue);
}

body {
  background-color: var(--platinum);
  color: var(--rich-black);
}

.page {
  padding: 20px;
  background-color: var(--color-background-secondary);
  border-radius: 1.5rem;
}

.card-label {
  font-weight: 600;
}

@media (max-width: 576px) {
  .page {
    padding: 0px;
    background-color: transparent;
  }
}
