.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: var(--color-header-footer);
  color: white;
}

.dropdown {
  display: none;
}

.nav {
  gap: 5rem;
}

.nav-link {
  color: #eaf8f8;
}

.nav-link:hover {
  color: #8fa1a1;
}

@media (max-width: 576px) {
  /* En movil muestra el menú hamburguesa en lugar del navbar */
  .dropdown {
    display: block;
  }

  .dropdown-menu {
    width: 170px;
  }

  .main-nav {
    display: none;
  }

  .cerrar-sesion {
    display: none;
  }

  .nav {
    gap: 0;
  }

  .nav-link {
    color: #000000;
  }

  .user-icon {
    display: none;
  }
}
